<!-- FAQ Item -->
<div class="accordion-item">
  <h3 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq{{ITEM_INDEX}}">
      <span class="faq-icon me-3">
        <img src="assets/images/faq.svg" alt="?" width="24" height="24">
      </span>
      {{QUESTION}}
    </button>
  </h3>
  <div id="faq{{ITEM_INDEX}}" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
    <div class="accordion-body">
      {{ANSWER}}
    </div>
  </div>
</div>
