<div class="social-links d-flex justify-content-center gap-4">
          <a href="https://t.me/Romago235" target="_blank" aria-label="GitHub">
            <i class="bi bi-telegram"></i>
          </a>

          <a href="https://wa.me/380972354968" target="_blank" aria-label="YouTube">
            <i class="bi bi-whatsapp"></i>
          </a>

          <a href="https://ig.me/m/furry_merry_fellow" target="_blank" aria-label="Instagram">
            <i class="bi bi-instagram"></i>
          </a>

          <a href="https://signal.me/#p/+380972354968" target="_blank" aria-label="Twitter">
            <i class="bi bi-signal"></i>
          </a>

          <a href="viber://chat?number=%2B380972354968" target="_blank" aria-label="Twitter">
            <!-- <i class="bi bi-signal"></i> -->
            <img class="bi" style="filter: brightness(0) saturate(100%) invert(30%) sepia(47%) saturate(3809%) hue-rotate(208deg) brightness(99%) contrast(102%);" src="assets/images/viber-brands-solid-full.svg" alt="Bootstrap" width="21" height="21">
          </a>
        </div>