<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>{{SITE_NAME}}</h5>
        <p>{{SITE_DESCRIPTION}}</p>
      </div>
      <div class="col-md-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="index.html" class="text-white-50">Buy Fursuit Online</a></li>
          <li><a href="example.html" class="text-white-50">Custom Fursuit Maker</a></li>
          <li><a href="about.html" class="text-white-50">About Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contact</h5>
        <p class="text-white-50">
          {{CONTACT_EMAIL}}<br>
          {{CONTACT_PHONE}}
        </p>
      </div>
    </div>
    <hr class="bg-white">
    <div class="text-center">
      <p class="mb-0">&copy; {{YEAR}} {{SITE_NAME}}. All rights reserved.</p>
    </div>
  </div>
</footer>
