/* Custom styles for your website */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  background-color: #011826;
  color: white !important;
  /* Add padding to prevent content from hiding under fixed header */
  /* padding-top: 70px; */
}

.text-muted {
  color: rgba(255, 255, 255, 0.65) !important;
}

/* Utility classes */
.section-padding {
  padding: 60px 0;
}

/* Font faces */
@font-face {
  font-family: 'Cinzel';
  src: url('../fonts/CinzelDecorative-Regular.ttf') format('woff2'),
       url('../fonts/CinzelDecorative-Bold.ttf') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  body {
    padding-top: 66px;
  }
  
  .hero {
    padding: 60px 0;
    background-position: center center;
    min-height: 100vh;
  }
  
  .hero h1 {
    font-size: 2rem;
  }
}
